<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danieldobalian.msalandroidapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/microsoft_logo"
        android:name=".AppSubClass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostSignInActivity"
            android:label="@string/title_activity_post_sign_in"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--Intent filter to capture System Browser calling back to our app after Sign In-->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--Add in your scheme/host from registered redirect URI-->
                <data android:scheme="msauth-074d69f8-eed5-46ed-b577-13a834d0a716"
                    android:host="com.danieldobalian.msalandroidapp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LearnMoreActivity"
            android:label="@string/title_activity_learn_more"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>